.tracautocompletefields li:nth-child(odd) {
  background-color: #eee;
}
.tracautocompletefields li.ui-state-focus {
  position: relative;
  z-index: 1;
}
.tracautocompletefields li a {
  display: block;
}
.tracautocompletefields li a.ui-state-hover {
  position: relative;
  z-index: 1;
}
.tracautocompletefields li a span {
  display: block;
  font-size: 80%;
  color: #888;
}
